@inherits LayoutComponentBase
@inject NavigationManager m_navigationManager
@inject IAPIAuth m_authProvider

@code {

  private void LoginUser()
  {
    m_navigationManager.NavigateTo("/login");
  }

  // private async Task LogoutUser()
  // {
  //   await m_authProvider.LogoutUserAsync().ConfigureAwait(false);
  // }

}

<div class="sidebar">
  <NavigationComponent/>
</div>

<div class="main">
  <div class="top-row px-4" style="z-index: 1000">
    <AuthorizeView>
      <Authorized>
        <div class="top-row px-4">
          <RadzenProfileMenu>
            <Template>
              <RadzenIcon Icon="account_circle"></RadzenIcon>
            </Template>
            <ChildContent>
              <RadzenProfileMenuItem Text="My profile" Icon="face"></RadzenProfileMenuItem>
              <RadzenProfileMenuItem Text="Logout" Icon="logout"></RadzenProfileMenuItem>
            </ChildContent>
          </RadzenProfileMenu>
          @*<h4>
            <b>Hello, @context.User.Identity!.Name</b>
          </h4> &nbsp;
          <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>*@
        </div>
      </Authorized>
      <NotAuthorized>
        <div class="top-row px-4">
          <button class="btn btn-primary" @onclick="LoginUser">Login</button>
        </div>
      </NotAuthorized>
    </AuthorizeView>
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>
