@inherits LayoutComponentBase

<div class="sidebar">
  <NavMenu/>
</div>

<div class="main">
  <div class="top-row px-4" style="z-index: 1000">
@* ReSharper disable Html.PathError *@
    <a href="login">Login</a>
@* ReSharper enable Html.PathError *@
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>