@page "/forgotPassword"
@inherits BaseComponent<IForgotPasswordViewModel>
@implements IForgotPasswordView

@inject IForgotPasswordViewModelValidator m_validator

<EditForm Model="@ViewModel"
          OnValidSubmit="ViewModel!.SubmitCommand.Execute">
  <FluentValidator Validator="m_validator"/>
  <div class="container w-25 align-middle">
    <div class="row mb-4">
      <div class="col">
        <div class="row">
          <RadzenTextBox id="Email" Placeholder="Email" Name="Email" @bind-Value="@ViewModel!.Email" Style="width: 100%"/>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
        </div>
      </div>
    </div>

    <div class="row w-100">
      <RadzenButton id="Reset"
                    ButtonType="ButtonType.Submit"
                    Text="Request"/>
    </div>
  </div>
</EditForm>