@page "/register"
@inherits BaseComponent<IRegisterViewModel>
@implements IRegisterView

@inject IRegisterViewModelValidator m_validator

<EditForm Model="@ViewModel"
          OnValidSubmit="@ViewModel!.SubmitCommand.Execute">
  <FluentValidator Validator="m_validator"/>
  <div class="container w-25 align-middle">
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <MudTextField @bind-Value="ViewModel!.Email" Label="Email" InputType="InputType.Email" Variant="Variant.Outlined" Class="w-100"></MudTextField>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
        </div>
      </div>
    </div>
    
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <MudTextField @bind-Value="ViewModel!.Password" InputType="InputType.Password" Label="Password" Variant="Variant.Outlined" Class="w-100"></MudTextField>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Password" class="mt-2"/>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <MudTextField @bind-Value="ViewModel!.ConfirmPassword" InputType="InputType.Password" Label="Confirm password" Variant="Variant.Outlined" Class="w-100"></MudTextField>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.ConfirmPassword" class="mt-2"/>
        </div>
      </div>
    </div>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="row">Register</MudButton>
  </div>
</EditForm>
