<!DOCTYPE html>
<html>
  <head>
    <title>Forgot password</title>
  </head>
<body>
<h1>Password reset request</h1>
<p>
  You can reset your password by navigating to this <a href="@Model.Url">link</a>.
</p>

</body>
<footer>
  SparesManual.com
</footer>
</html>