<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
  </head>
<body>
<h1>Thank you for creating an account!</h1>
<p>
  Please confirm your account registration by navigating to this <a href="#">link</a>.
</p>
</body>
<footer>
  SparesManual.com
</footer>
</html>