@page "/register"
@inherits BaseComponent<IRegisterViewModel>
@implements IRegisterView

@inject IRegisterViewModelValidator m_validator

<EditForm Model="@ViewModel"
          OnValidSubmit="@ViewModel!.SubmitCommand.Execute">
  <FluentValidator Validator="m_validator"/>
  <div class="container w-25 align-middle">
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <RadzenTextBox id="Email" Placeholder="Email" Name="Email" @bind-Value="@ViewModel!.Email" Style="width: 100%" />
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
        </div>
      </div>
    </div>
    
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <RadzenPassword id="Password" Placeholder="Password" Name="Password" @bind-Value="@ViewModel!.Password" Style="width: 100%" />
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Password" class="mt-2"/>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <RadzenPassword id="ConfirmPassword" Placeholder="Confirm password" Name="ConfirmPassword" @bind-Value="@ViewModel!.ConfirmPassword" Style="width: 100%" />
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.ConfirmPassword" class="mt-2"/>
        </div>
      </div>
    </div>

    <RadzenButton class="row"
                  id="Register"
                  ButtonType="ButtonType.Submit"
                  Text="Register"/>
  </div>
</EditForm>