 @* ReSharper disable once CheckNamespace *@
 @namespace Comp

<h3>Profile</h3>
 
 <p>
  We do not store your profile information. If you wish to change your profile picture, do so using <a href="http://en.gravatar.com/" target="_blank">Gravatar</a>.
  <br/>
  If you don't have an account at <a href="http://en.gravatar.com/" target="_blank">Gravatar</a> yet, create one under the same email as you've registered on SparesManual.
 </p>

 @code {

}
