@* ReSharper disable once CheckNamespace *@
@namespace Comp

<h3 style="color: #BC3531">Delete account</h3>

<p>This operation is irreversable and will delete your account along with all of your data.</p>

<Button Danger>Delete your account</Button>