@page "/book/{itemId:int}"
@inherits BaseItemComponent<IBookViewModel, IBook>

<h2>@ViewModel?.Item?.Title</h2>

<BookModels ItemId="ItemId"/>

<div class="container-split">
  <div class="content-left">
    <BookSections BookId="ItemId" CurrentSectionChanged="@Callback"/>
  </div>
  <div class="content-right">
    <SectionParts @ref="m_sectionParts"/>
  </div>
</div>

@code {
#nullable enable

  private SectionParts? m_sectionParts;

  private async void Callback(int? section)
  {
    if (m_sectionParts != null) await m_sectionParts.ChangeSectionAsync(section).ConfigureAwait(false);
  }

}
