@page "/login"
@inherits BaseComponent<ILoginViewModel>
@inject ILoginViewModelValidator m_validator

<EditForm Model="@ViewModel"
          OnValidSubmit="Submit">
  <FluentValidator Validator="m_validator"/>
  <div class="row" style="margin-bottom: 24px">
    <div class="col">
      <div class="row">
        <RadzenTextBox style="display: block" Placeholder="Email" Name="Email" @bind-Value="@ViewModel!.Email"/>
      </div>
      <div class="row">
        <ValidationMessage For="() => ViewModel.Email"/>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 24px">
    <div class="col">
      <div class="row">
        <RadzenPassword Placeholder="Password..." Name="Password" @bind-Value="@ViewModel!.Password"/>
      </div>
      <div class="row">
        <ValidationMessage For="() => ViewModel.Password"/>
      </div>
    </div>
  </div>

  <RadzenButton ButtonType="ButtonType.Submit"
                Text="Login"/>
</EditForm>

@code {

  private async void Submit()
  {
    var result = await ViewModel!.LoginUser().ConfigureAwait(false);
  }

}