@page "/login"
@using ViewModels.Interfaces.Auth.Enums
@inherits BaseComponent<ILoginViewModel>
@inject ILoginViewModelValidator m_validator
@inject NavigationManager m_navigationManager

@if (m_invalidCredentials)
{
  <span>Invalid email or password</span>
}

<EditForm Model="@ViewModel"
          OnValidSubmit="@Submit">
  <FluentValidator Validator="m_validator"/>
  <div class="row" style="margin-bottom: 24px">
    <div class="col">
      <div class="row">
        <RadzenTextBox style="display: block" Placeholder="Email" Name="Email" @bind-Value="@ViewModel!.Email"/>
      </div>
      <div class="row">
        <ValidationMessage For="() => ViewModel.Email"/>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 24px">
    <div class="col">
      <div class="row">
        <RadzenPassword Placeholder="Password..." Name="Password" @bind-Value="@ViewModel!.Password"/>
      </div>
      <div class="row">
        <ValidationMessage For="() => ViewModel.Password"/>
      </div>
    </div>
  </div>

  <RadzenButton ButtonType="ButtonType.Submit"
                Text="Login"/>
</EditForm>

@code {

  private bool m_invalidCredentials;

  /// <inheritdoc />
  protected override void OnInitialized()
  {
    base.OnInitialized();
    m_invalidCredentials = false;
  }

  private async void Submit()
  {
    var result = await ViewModel!.LoginUser().ConfigureAwait(false);
    switch (result)
    {
      case LoginResult.Success:
        m_invalidCredentials = false;
        m_navigationManager.NavigateTo("/");
        break;
      case LoginResult.InvalidCredentials:
        m_invalidCredentials = true;
        break;
    }
  }

}