@page "/forgotPassword"
@inherits BaseComponent<IForgotPasswordViewModel>
@implements IForgotPasswordView

@inject IForgotPasswordViewModelValidator m_validator
@inject INavigator m_navigator

<AuthorizeView>
  <Authorized>

    @{
      m_navigator.NavigateTo("/");
    }

  </Authorized>
  <NotAuthorized Context="_">
    @if (ViewModel!.Requested)
    {
      <div class="row justify-content-center">
        <div class="col-4">
          <Alert Type="@AlertType.Info"
                 Message="Password reset sent"
                 Description="Password reset instructions were sent to your email. If you haven't received anything please check if the provided email is correct."
                 ShowIcon="true">
          </Alert>
        </div>
      </div>
    }
    else
    {
      <EditForm Model="@ViewModel"
                OnValidSubmit="() => ViewModel!.SubmitCommand.Execute(null)">
        <FluentValidator Validator="m_validator"/>
        <div class="container w-25 align-middle">
          <div class="row mb-4">
            <div class="col">
              <div class="row">
                <Input Id="Email" Placeholder="Email" @bind-Value="@ViewModel!.Email" Style="width: 100%"/>
              </div>
              <div class="row">
                <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
              </div>
            </div>
          </div>

          <div class="row w-100">
            <Button HtmlType="submit" Id="Request" Size="large" Disabled="@ViewModel!.Requested">
              Request
            </Button>
          </div>
        </div>
      </EditForm>
    }

  </NotAuthorized>
</AuthorizeView>