@page "/forgotPassword"
@inherits BaseComponent<IForgotPasswordViewModel>
@implements IForgotPasswordView

@inject IForgotPasswordViewModelValidator m_validator
@inject INavigator m_navigator

<AuthorizeView>
  <Authorized>

    @{
      m_navigator.NavigateTo("/");
    }

  </Authorized>
  <NotAuthorized Context="_">
    <EditForm Model="@ViewModel"
              OnValidSubmit="ViewModel!.SubmitCommand.Execute">
      <FluentValidator Validator="m_validator"/>
      <div class="container w-25 align-middle">
        <div class="row mb-4">
          <div class="col">
            <div class="row">
              <Input Id="Email" Placeholder="Email" Value="@ViewModel!.Email" Style="width: 100%"/>
            </div>
            <div class="row">
              <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
            </div>
          </div>
        </div>

        <div class="row w-100">
          <Button Type="submit" Id="Reset" Size="large">
            Request
          </Button>
        </div>
      </div>
    </EditForm>
  </NotAuthorized>
</AuthorizeView>