@page "/login"
@page "/login/{userId:guid}"
@inherits BaseComponent<ILoginViewModel>
@implements ILoginView
@inject IAPIAuth m_auth

@inject ILoginViewModelValidator m_validator

@if (m_invalidCredentials)
{
  <span>Invalid email or password</span>
}

<EditForm Model="@ViewModel"
          OnValidSubmit="ViewModel!.SubmitCommand.Execute">
  <FluentValidator Validator="m_validator"/>
  <div class="container w-25 align-middle">
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <Input Id="Email" Placeholder="Email" @bind-Value="@ViewModel!.Email" Class="w-100" Size="large" />
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
        </div>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="col">
        <div class="row">
          <InputPassword Id="Password" Placeholder="Password" @bind-Value="@ViewModel!.Password" Size="large" Class="w-100" Type="string"></InputPassword>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Password" class="mt-2"/>
        </div>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="col align-content-start">
        <Checkbox Id="RememberMe" Checked="ViewModel!.RememberMe">
          Remember me
        </Checkbox>
      </div>
      <div class="col-sm align-content-end text-right">
        <a href="/forgotPassword" id="ForgotPassword">Forgot password</a>
      </div>
    </div>

    <Button HtmlType="submit" Id="Login" Class="row mb-2 w-100" Size="large">
      Login
    </Button>
    
    <a href="/register" class="row">Not a member? Register</a>
  </div>
</EditForm>

@code {

  private bool m_invalidCredentials;

  /// <summary>
  /// Registered user id
  /// </summary>
  [Parameter]
  public Guid? UserId { get; set; }

  /// <inheritdoc />
  protected override void OnInitialized()
  {
    base.OnInitialized();
    m_invalidCredentials = false;
  }

  /// <inheritdoc />
  protected override async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync().ConfigureAwait(false);
    if (UserId is not null && ViewModel is not null)
    {
      var email = await m_auth.GetUserEmailAsync(UserId.ToString()).ConfigureAwait(false);
      if (string.IsNullOrEmpty(email))
        return;

      ViewModel.Email = email;
    }
  }

}