@page "/registered/{userId}"
@inject IAPIAuth m_auth

@code {

  /// <summary>
  /// User id
  /// </summary>
  [Parameter]
  public string UserId { get; set; } = string.Empty;

  private DateTime m_lastResend = DateTime.Now;

  private async Task ResendVerificationAsync()
  {
    var now = DateTime.Now;
    if (now - m_lastResend <= TimeSpan.FromSeconds(5))
      return;

    m_lastResend = now;
    await m_auth.ResendVerificationUserIdAsync(UserId).ConfigureAwait(false);
  }

}

<div class="row justify-content-center">
  <div class="col-4">
    <Alert Type="@AlertType.Success"
           Message="You've been registered!"
           Description="An account confirmation request has been sent to your email."
           ShowIcon>
    </Alert>

    <p class="ml-2">
      @* ReSharper disable once Html.AttributeValueNotResolved *@
      No email? <Button Type="link" OnClick="ResendVerificationAsync" Style="margin: 0; padding: 0">Resend it</Button>.
    </p>
  </div>
</div>