@page "/register"
@inherits BaseComponent<IRegisterViewModel>
@implements IRegisterView

@inject IRegisterViewModelValidator m_validator

<EditForm Model="@ViewModel"
          OnValidSubmit="@ViewModel!.SubmitCommand.Execute">
  <FluentValidator Validator="m_validator"/>
  <div class="container w-25 align-middle">
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <Input Id="Email" Placeholder="Email" Value="@ViewModel!.Email" Class="w-100" />
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Email" class="mt-2"/>
        </div>
      </div>
    </div>
    
    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <InputPassword Id="Password" Placeholder="Password" Value="@ViewModel!.Password" Class="w-100" Type="string"></InputPassword>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.Password" class="mt-2"/>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <InputPassword Id="ConfirmPassword" Placeholder="Confirm password" Value="@ViewModel!.ConfirmPassword" Class="w-100" Type="string"></InputPassword>
        </div>
        <div class="row">
          <ValidationMessage For="() => ViewModel!.ConfirmPassword" class="mt-2"/>
        </div>
      </div>
    </div>

    <Button Type="submit" Id="Register" class="row" Size="large">
      Register
    </Button>
  </div>
</EditForm>