@page "/verify"
@inject NavigationManager m_navigationManager
@inject IAPIAuth m_auth

@code {

  /// <summary>
  /// User id
  /// </summary>
  [Parameter]
  public string UserId { get; set; } = string.Empty;

  /// <summary>
  /// Email verification token
  /// </summary>
  [Parameter]
  public string Token { get; set; } = string.Empty;

  /// <inheritdoc />
  protected override async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync().ConfigureAwait(false);

    var qs= m_navigationManager.ToAbsoluteUri(m_navigationManager.Uri).Query;
    var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(qs);
    if (query.TryGetValue("usr", out var userId))
      UserId = userId;
    if (query.TryGetValue("token", out var token))
      Token = token;

    var result = await m_auth.VerifyEmailAsync(UserId, Token).ConfigureAwait(false);
    // If the verification was a success
    if (result)
    {
      await Task.Delay(5000).ConfigureAwait(false);
      m_navigationManager.NavigateTo($"/login/{UserId}");
    }
    // Otherwise..
    else
    {
      m_navigationManager.NavigateTo("/");
    }
  }

}

@if (!string.IsNullOrEmpty(UserId) && !string.IsNullOrEmpty(Token?.Trim()))
{
  <h2>Thank you for verifying your email</h2>
}
else
{
  m_navigationManager.NavigateTo("/");
}