 @* ReSharper disable once CheckNamespace *@
 @namespace Comp

<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">Spares Manual</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <RadzenPanelMenu>
    <RadzenPanelMenuItem Icon="home" Text="Home" Path="/"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Icon="menu_book" Text="Books" Path="/books"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Icon="build" Text="Parts" Path="/partsall"></RadzenPanelMenuItem>
  </RadzenPanelMenu>
</div>

@code {
  private bool m_collapseNavMenu = true;

  private string NavMenuCssClass => m_collapseNavMenu ? "collapse" : "";

  private void ToggleNavMenu()
  {
    m_collapseNavMenu = !m_collapseNavMenu;
  }
}
